#landing-page {
    min-height: 200vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-register {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.landing-card {
    min-height: 20rem;
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}