* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GLOBALS */

.heading-highest {
  font-size: 2rem;
  font-weight: bold;
}

.App {
  background-color: #ffa9b5;
}

.full-page {
  height: 100vh;
  width: 100%;
}